pandas
opencv-python
scikit-learn
plotly
streamlit
watchdog
pillow
imagehash
tqdm
ultralytics
python-multipart
pydantic
uvicorn
fastai==2.7.19
fastbook
fastapi-limiter
redis
nest-asyncio
pyyaml
# torch==2.1.0 torchvision==0.16.0 torchaudio==2.1.0 --index-url https://download.pytorch.org/whl/cu118
